name: Multiplatform Tests

on:
  push:
    branches: [ "main" ]
    paths-ignore: 
      - .github/badges/**
      - README.md
  pull_request:
    branches: [ "main" ]
    paths-ignore: 
      - .github/badges/**
      - README.md
      
jobs:
  build-gcc:
    strategy:
      fail-fast: false
      matrix:
        build-type: [ Release, Debug ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-project
        with: 
          c-compiler: gcc
          cpp-compiler: g++
          build-type: ${{ matrix.build-type }}
  
  build-clang:
    strategy:
      fail-fast: false
      matrix:
        build-type: [ Release, Debug ]
        use-libcxx: [ true, false ]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/build-project
        with:
          c-compiler: clang
          cpp-compiler: clang++
          build-type: ${{ matrix.build-type }}
          use-libcxx: ${{ matrix.use-libcxx }}

  build-msvc:
    strategy:
      fail-fast: false
      matrix:
        build-type: [ Release, Debug ]
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ilammy/msvc-dev-cmd@v1
      - uses: ./.github/actions/build-project
        with:
          c-compiler: cl
          cpp-compiler: cl
          build-type: ${{ matrix.build-type }}
